{# <form method="post" action="{{ path('app_order_status_delete', {'id': order_status.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order_status.id) }}">
    <button class="btn">Delete</button>
</form>
#}

{# 
<form method="post" action="{{ path('product_delete', {id: product.id}) }}" style="display:inline-block;" onsubmit="return confirm('¿Seguro que quieres eliminar este producto?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <li>
        <button class="dropdown-item text-muted">
            <i class="bi bi-trash"></i> Borrar
        </button></li>
</form>
#}

{# category/_delete_modal.html.twig #}


<div class="modal fade" id="deleteStatusOrderModal{{ id }}" tabindex="-1" aria-labelledby="deleteStatusOrderModalLabel{{ id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header bg-danger-subtle text-danger-emphasis justify-content-center border-0">
                <h5 class="modal-title" id="deleteStatusOrderModalLabel{{ id }}">
                    Confirmar eliminación
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar el Estado <strong>ID: {{ id }}</strong>?</p>
                {% if order_status.name is defined %}
                    <p>NOMBRE ESTADO: <strong>{{ order_status.name }}</strong></p>
                {% endif %}
                <p class="text-muted small mb-0">Esta acción no se puede deshacer.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="post" action="{{ path('app_order_status_delete', {'id': id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
                    <button class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i> Eliminar definitivamente
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

