{% if offers is empty %}
    <div class="alert alert-info shadow-sm rounded-0 text-center">
        No hay ofertas que coincidan con tu búsqueda.
    </div>
    {% else %}
    <div class="card border-0 rounded-4">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle mb-0">
                
                    <thead class="">
                        <tr>
                            <th>ID</th>
                            <th>PRODUCTO</th>
                            <th>PRECIO OFERTA</th>
                            <th>INICIO</th>
                            <th>FIN</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for offer in offers %}
                        <tr>
                            <td>{{ offer.id }}</td>
                            <td>{{ offer.product.name }}</td>
                            <td>{{ offer.offerPrice|number_format(2, ',', '.') }} €</td>
                            <td>{{ offer.startDate|date('d/m/Y H:i') }}</td>
                            <td>{{ offer.endDate|date('d/m/Y H:i') }}</td>
                            <td class="text-center">
                                <div class="btn-group dropup" role="group">
                                    <div class="dropdown dropstart">
                                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            +
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item text-muted" href="{{ path('offer_show', {id: offer.id}) }}"><i class="bi bi-eye"></i> Ver</a></li>
                                            <li><a class="dropdown-item text-muted" href="{{ path('offer_edit', {id: offer.id}) }}"><i class="bi bi-pencil-square"></i> Editar</a></li>
                                            {# {{ include('offer/_delete_ori_form.html.twig', {'id': offer.id}) }} #}
                                            <li>
                                                    <button type="button" 
                                                            class="dropdown-item text-danger" 
                                                            data-bs-toggle="modal" 
                                                            data-bs-target="#deleteOfferModal{{ offer.id }}">
                                                        <i class="bi bi-trash"></i> Eliminar
                                                    </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center text-muted">
                                No hay ofertas disponibles.
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    
    <nav aria-label="Page navigation" class="mt-4">
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(offers, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
        </div>
    </nav>
    <!-- 🔽 BLOQUE DE MODALES (fuera de la tabla) -->
    {% for offer in offers %}
        {{ include('offer/_delete_form.html.twig', {'offer': offer, 'id': offer.id}) }}
    {% endfor %}



{% endif %}
