{% extends 'base.html.twig' %}

{% block title %}Ofertas - GreenHarvest{% endblock %}


{% block body %}
<div class="">
    <!-- Encabezado -->
    <div class="d-flex justify-content-between align-items-center mb-4">  
        <h1 class="h2 fw-bold text-success mb-0">Ofertas</h1>
       
    </div>

    <!-- Buscador -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <form method="get" action="{{ path('offer_index_admin') }}" class="mb-2">

            <!-- Buscar por producto -->
            <div class="input-group">
            
                <input type="text" name="q" value="{{ search|default('') }}" 
                    class="form-control" placeholder="Buscar por producto...">
                <button class="btn btn-outline-success " type="submit">
                <i class="bi bi-search"></i> Buscar
                </button>
            </div>


            <!-- Buscar por fecha 
            <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                <input type="date" name="date" value="{{ date|default('') }}" 
                    class="form-control">
            </div>
            </div> -->


        </form>
        <a href="{{ path('offer_new') }}" class="btn btn-outline-success rounded-1 ">
                <i class="bi bi-plus-circle"></i> Añadir Oferta
        </a>
    </div>
    <!-- Tabla de ofertas -->
    <div class="card border-0 rounded-0">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle mb-0">
                    <thead class="table-success text-success">
                        <tr>
                            <th>ID</th>
                            <th>Producto</th>
                            <th>Precio Oferta</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in offers %}
                            <tr>
                                <td>{{ offer.id }}</td>
                                <td>{{ offer.product.name }}</td>
                                <td><span>{{ offer.offerPrice }} €</span></td>
                                <td>{{ offer.startDate|date('d/m/Y') }}</td>
                                <td>{{ offer.endDate|date('d/m/Y') }}</td>
                                <td class="text-center">
                                    <div class="btn-group dropup" role="group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        +
                                        </button>
                                        <ul class="dropdown-menu">
                                      
                                        <li><a class="dropdown-item text-muted" href="{{ path('offer_show', {id: offer.id}) }}" ><i class="bi bi-eye"></i> Ver</a></li>
                                        <li><a class="dropdown-item text-muted" href="{{ path('offer_edit', {id: offer.id}) }}"> <i class="bi bi-pencil-square"></i> Editar</a></li>
                                        {{ include('offer/_delete_form.html.twig', {'id': offer.id}) }}
                                        </ul>
                                    </div>
                                </td>

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6" class="text-center text-muted">No hay ofertas registradas.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="d-flex justify-content-center mt-4">
    {{ knp_pagination_render(offers, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
</div>

{% endblock %}


