{% extends 'base.html.twig' %}

{% block title %}Oferta Nº{{ offer.id }} - GreenHarvest{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        {'label': 'Inicio', 'url': path('app_home')},
        {'label': 'Ofertas', 'url': path('offer_index_admin')},
        {'label': 'Ver Oferta'}
    ] %}
    {% include 'components/_breadcrumb.html.twig' with {'items': breadcrumb} %}
{% endblock %}

{% block body %}

    <!-- Encabezado -->
    <div class="text-center mb-4">
        <h1 class="fw-bold text-success">Oferta Nº{{ offer.id }}</h1>
        <p class="text-muted">Detalles de la oferta disponible</p>
    </div>

    <!-- Tarjeta con la información -->
    <div class="card shadow rounded-0 mb-3">
        <div class="card-body">
            <table class="table table-borderless align-middle mb-0">
                <tbody>
                    <tr>
                        <th class="text-success" style="width: 180px;"> ID</th>
                        <td>{{ offer.id }}</td>
                    </tr>
                    <tr>
                        <th class="text-success"> Producto</th>
                        <td>{{ offer.product.name }}</td>
                    </tr>
                    <tr>
                        <th class="text-success"> Precio Descuento</th>
                        <td>{{ offer.offerPrice|number_format(2, ',', '.') }} €</td>
                    </tr>
                    <tr>
                        <th class="text-success">Inicio</th>
                        <td>{{ offer.startDate|date('d/m/Y H:i') }}</td>
                    </tr>
                    <tr>
                        <th class="text-success">Fin</th>
                        <td>{{ offer.endDate|date('d/m/Y H:i') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Botones de acciones -->
    <div class="d-flex gap-2">
        

        {{ include('components/_btnEditar.html.twig', {
            route: 'offer_edit',
            routeParams: {'id': offer.id},
            label: 'Editar',
            icon: 'bi-pencil-square' 
        }) }}

        <a href="{{ path('offer_index_admin') }}" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> Volver
            </a>
        </div>

{% endblock %}
