{% extends 'base.html.twig' %}

{% block title %}Editar Categoría{% endblock %}

{% block body %}
<h1>Editar Categoría "{{ category.name }}"</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">Actualizar</button>
    <a href="{{ path('categories_list') }}" class="btn btn-secondary mt-3">Volver</a>
{{ form_end(form) }}
{% endblock %}
