{% extends 'base.html.twig' %}

{% block title %}Crear Nueva Categoría - GreenHarvest{% endblock %}

{% block body %}
<div class="container py-5">

<!-- Formulario OK -->
       <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow border-0 rounded-1">
                <div class="card-body p-4">
                <h1 class="h4 text-success fw-bold mb-4">➕ Crear Nueva Categoría</h1>
                        {{ form_start(form) }}
            <div class="row g-3">
                {% for field in form %}
                    <div class="col-12">
                        {{ form_label(field, null, {'label_attr': {'class': 'form-label fw-bold text-success'}}) }}
                        {% if field.vars.block_prefixes|last == 'choice' %}
                            {{ form_widget(field, {'attr': {'class': 'form-select rounded-1 shadow-sm'}}) }}
                        {% else %}
                            {{ form_widget(field, {'attr': {'class': 'form-control rounded-1 shadow-sm'}}) }}
                        {% endif %}
                        {{ form_errors(field) }}
                    </div>
                {% endfor %}
            </div>

            <!-- Botones -->
            <div class="mt-4 d-flex justify-content-between">
                
                <button class="btn btn-outline-success rounded-1">
                    <i class="bi bi-check-circle"></i> Nueva Categoria
                </button>
                <a href="{{ path('categories_list') }}" class="btn btn-outline-secondary rounded-1">
                    <i class="bi bi-arrow-left"></i> Volver
                </a>
            </div>
        {{ form_end(form) }}
                </div>
            </div>
        </div>
        </div>
</div>
{% endblock %}

