{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
<h1 class="mb-4">Listado de Productos</h1>

<a href="{{ path('product_new') }}" class="btn btn-outline-primary btn-sm mb-3">
    <i class="bi bi-plus-circle"></i> Añadir nuevo producto
</a>

<table class="table table-hover table-bordered align-middle">
    <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} €</td>
            <td>{{ product.category.name }}</td>
            <td class="text-center">
                <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-sm btn-outline-info">
                    <i class="bi bi-eye"></i>
                </a>
                <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-sm btn-outline-warning">
                    <i class="bi bi-pencil-square"></i>
                </a>
                {{ include('product/_delete_form.html.twig', {'product': product}) }}
                <a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-sm btn-warning">Añadir al carrito</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="text-center">No hay productos.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
