{% extends 'base.html.twig' %}

{% block title %}{{ tituloAlmacen }} - GreenHarvest{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        {'label': 'Inicio', 'url': path('app_home')},
        {'label': 'Pedidos'}
    ] %}
    {% include 'components/_breadcrumb.html.twig' with {'items': breadcrumb} %}
{% endblock %}


{% block body %}
<div class="">

  <!-- Encabezado -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="h4 fw-bold text-secondary mb-0">{{ tituloAlmacen }}</h4> 
  </div>

  <!-- Buscador -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <form method="get"
          action="{{ path('app_order_index') }}"
          class="mb-1">
      <div class="input-group">
        <input type="text" name="find_order" 
               id="orderSearch"
               value="{{ find_order|default('') }}" 
               class="form-control" 
               placeholder="Buscar por usuario, ID o estado...">
        <button class="btn btn-outline-secondary disabled rounded-0">
          <i class="bi bi-search"></i> 
        </button>
      </div>
    </form>

  </div>

  <!-- Resultados -->
  <div id="orderResults">
      {% include 'order/_table.html.twig' with {'orders': orders} %}
  </div>

</div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/orderSearch.js') }}"></script>
{% endblock %}

