{% extends 'base.html.twig' %}

{% block title %}Mis Pedidos - Mi Tienda{% endblock %}

{% block body %}

{% block tituloAlmacen %}
    <h1 class="mb-4">{{ tituloAlmacen }}</h1>
{% endblock %}

{% if orders is empty %}
    <div class="alert alert-info">No tienes pedidos realizados.</div>
{% else %}
    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
        <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Items</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.user.email }}</td>
                        <td>{{ order.createdAt|date('d/m/Y H:i') }}</td>
                        <td>{{ order.status.name }}</td>
                        <td>{{ order.items|length }}</td>
                        <td class="text-center">
                            {% if is_granted('ROLE_PICKER') %}
                                <a href="{{ path('app_order_show_store', {id: order.id}) }}" class="btn btn-sm btn-outline-primary">
                                    Ver pedido
                                </a>
                            {% else %}
                                <a href="{{ path('app_order_show', {id: order.id}) }}" class="btn btn-sm btn-outline-primary">
                                    Ver detalle
                                </a>
                            {% endif %}


                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
